@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

.primary {
  background-color: #e46a68;
}
.surface {
  background-color: #6e6e6e;
}
.background {
  background-color: #3f3f3f;
}

.fontPrimary {
  color: #e46a68;
}
.fontSurface {
  color: #6e6e6e;
}
.fontBackground {
  color: #3f3f3f;
}

.icon {
  font-size: 50px;
}

.card {
  margin: 8px;
  padding: 8px;
}
