{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2015,
        "sourceType": "module",
        "project": "./tsconfig.json"
    },
    "rules": {
        "with-tsc-error/all": "error",
        "prettier/prettier": "error"
    },
    "plugins": ["@typescript-eslint", "jest", "with-tsc-error", "prettier"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:jest/recommended",
        "prettier"
    ],
    "env": { "jest": true },
    "ignorePatterns": ["**/*/*.js", "**/contentful-graphql-types.ts"]
}
